.btn,
.navbar .navbar-nav > li > a.btn {
  border-radius: $border-radius-btn-base;
  box-sizing: border-box;
  border-width: $border-thick;
  background-color: $transparent-bg;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;

  padding: $padding-base-vertical $padding-base-horizontal;

  @include btn-styles($default-color, $default-states-color);
  @include transition($fast-transition-time, linear);

  &:hover,
  &:focus {
    outline: 0 !important;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    @include box-shadow(none);
    outline: 0 !important;
  }

  &.btn-icon {
    padding: 10px;
    border-radius: 50%;
    background-color: $default-bg;
    border: 1px solid transparent;
    line-height: 1;


    i {
      margin-right: 0px;
      font-size: 16px;
      color: $white-color;
      line-height: 1 !important;
    }

    &--success {
      background-color: $success-color;

      &:hover,
      &:focus {
        border: 1px solid $success-color;
        background-color: $white-bg;

        i {
          color: $success-color;
        }
      }
    }

    &--warning {
      background-color: $warning-color;

      &:hover,
      &:focus {
        border: 1px solid $warning-color;
        background-color: $white-bg;

        i {
          color: $warning-color;
        }
      }
    }

    &--info {
      background-color: $info-color;

      &:hover,
      &:focus {
        border: 1px solid $info-color;
        background-color: $white-bg;

        i {
          color: $info-color;
        }
      }
    }

    &--danger {
      background-color: $danger-color;

      &:hover,
      &:focus {
        border: 1px solid $danger-color;
        background-color: $white-bg;

        i {
          color: $danger-color;
        }
      }
    }

    &--green {
      background-color: darken($color-green-status, 7%);
      line-height: 1;

      &:hover,
        &:focus {
          background-color: darken($color-green-status, 12%);
          border-color: darken($color-green-status, 12%);

        }
      }

      &--red {
        background-color: darken($color-red, 11%);
        line-height: 1;

        &:hover,
        &:focus {
          background-color: darken($color-red, 20%);
          border-color: darken($color-red, 20%);;

        }
      }
    }

    [class*="ti-"]{
        vertical-align: middle;
    }

}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group{
    margin-left: -2px;

}

// Apply the mixin to the buttons
//.btn-default { @include btn-styles($default-color, $default-states-color); }
.navbar .navbar-nav > li > a.btn.btn-primary, .btn-primary { @include btn-styles($primary-color, $primary-states-color); }
.navbar .navbar-nav > li > a.btn.btn-success, .btn-success { @include btn-styles($success-color, $success-states-color); }
.navbar .navbar-nav > li > a.btn.btn-info, .btn-info    { @include btn-styles($info-color, $info-states-color); }
.navbar .navbar-nav > li > a.btn.btn-warning, .btn-warning { @include btn-styles($warning-color, $warning-states-color); }
.navbar .navbar-nav > li > a.btn.btn-danger, .btn-danger  { @include btn-styles($danger-color, $danger-states-color); }

.btn-neutral {
    @include btn-styles($white-color, $white-color);

    &:hover,
    &:focus{
        color: $default-color;
        i{
            color: $default-color;
            opacity: 1;
        }
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle{
        background-color: $white-color;
        color: $default-color;
        i{
            color: $default-color;
            opacity: 1;
        }
    }

    &.btn-fill{
        color: $default-color;
        i{
            color: $default-color;
            opacity: 1;
        }
    }
    &.btn-fill:hover,
    &.btn-fill:focus{
        color: $default-states-color;
        i{
            color: $default-states-color;
            opacity: 1;
        }
    }

    &.btn-simple:active,
    &.btn-simple.active{
        background-color: transparent;
    }
}

.btn{
     &:disabled,
     &[disabled],
     &.disabled,
     &.btn-disabled{
        @include opacity(.5);
    }
}
.btn-disabled{
    cursor: default;
}
.btn-simple{
    border: $none;
    padding: $padding-base-vertical $padding-base-horizontal;

}

.navbar .navbar-nav > li > a.btn.btn-lg,
.btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-btn-large, $line-height-small);
   font-weight: $font-weight-normal;
    &.btn-icon{
        border-radius: 30px;
        padding: 9px 16px;
    }
}
.navbar .navbar-nav > li > a.btn.btn-sm,
.btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-btn-small, $line-height-small);
  &.btn-icon{
        padding: 3px 6px;
        .fa{
            line-height: 1.6;
            width: 15px;
        }
    }
}
.navbar .navbar-nav > li > a.btn.btn-xs,
.btn-xs{
    @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xs, $border-radius-btn-small, $line-height-small);
    &.btn-icon{
        padding: 1px 5px;
        .fa{
            width: 10px;
        }
    }
}
.navbar .navbar-nav > li > a.btn.btn-wd,
.btn-wd{
    min-width: 150px;
}
.btn-wl{
  min-width: 200px;
}

.btn-group.select{
    width: 100%;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}
.btn-tooltip{
    white-space: nowrap;
}

.buttons-with-margin{
    .btn {
        margin-bottom: 5px;
    }
}

.btn-circle {
  border-radius: 50%;
  padding: 10px;
  line-height: 1;
}

.btn-exchange {
  width: 100%;
}
.account-dropdown {
  .dropdown-menu {
    left: 40%;
    margin-top: -15px;
  }
}

.dropdown-toggle {
  &--thin {
    border-width: 1px;
  }

  &--fix-width {

    span {
      display: inline-block;
      width: 80%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    b {
      display: inline-block;

    }
  }
}

.table-symbols {
  [class^="el-icon-close"], [class*=" el-icon-close"] {
    font-family: 'themify'!important;
    font-size: 10px;

    &::before {
      content: "\e646";
    }
  }
}

.btn-green {
  @include btn-styles(darken($color-green-status,7%), darken($color-green-status,12%));
}

.btn-red {
  @include btn-styles(darken($color-red,11%), darken($color-red,20%));
}

.btn-magnify i {
  padding-right: 5px;
  padding-bottom: 2px;
}
@media (min-width: 768px){

  .btn-exchange {
    width: 80%;
    display: block;
    margin-left: auto;
  }
}
