form {

    label {
      width: 100px;
      margin-right: 20px;
      margin-bottom: 0;
      font-weight: 400;
      text-transform: uppercase;

        &.radio,
        &.checkbox{
            font-size: $font-size-base;
            text-transform: none;
            cursor: pointer;
        }
    }
}

.form-group{
    position: relative;
}

.exchange-row,
.account-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    width: 80%;
  }

  .form-control {
       background-color: $white-bg;
       border: 1px solid  $light-blue;

       &:focus,
       &:hover {
          border: 1px solid $info-color;
       }
  }
}

.account-form {

}

.form-horizontal{
    .checkbox,
    .radio{
        padding-top: 0;

        &:first-child,
        &.checkbox-inline,
        &.radio-inline{
            margin-top: 13px;
        }
    }
}

star{
    color: $danger-color;
    padding-left: 3px;
}

@media (min-width: $screen-md-min){
    .form-horizontal{
        .control-label{
            padding-top: 12px !important;
        }
        code{
            margin-top: 8px;
            display: inline-block;
        }
    }
}
