.wrapper{
    position: relative;
    top: 0;
    height: 100vh;

    &.wrapper-full-page{
        height: auto;
        min-height: 100vh;
    }
}

.full-page{

    &:after,
    &:before{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:after{
       background: $color-black;
       z-index: 3;
       opacity: 1;
    }

    > .content,
    > .footer{
        position: relative;
        z-index: 4;
    }

    > .content{
        min-height: calc(100vh - 70px);
    }

    .full-page-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

    }

    &[data-image]:after,
    &.has-image:after{
        opacity: .7;
    }

    &[data-color="blue"]:after{
        background-color: rgba($filter-blue, 0.7);
    }
    &[data-color="azure"]:after{
        background-color: rgba($filter-azure, 0.7);
    }
    &[data-color="green"]:after{
       background-color: rgba($filter-green, 0.7);
    }
    &[data-color="orange"]:after{
        background-color: rgba($filter-orange, 0.7);
    }
    &[data-color="red"]:after{
        background-color: rgba($filter-red, 0.7);
    }

    .footer nav > ul a:not(.btn),
    .footer .copyright,
    .footer .copyright a{
        color: $white-color;
        font-size: $font-size-base;
    }

}

.login-page,
.lock-page{
    > .content{
        padding-top: 20vh;
    }
}

.lock-page{
    .card-lock{
        text-align: center;
        width: 300px;
        margin: 30px auto 0;
        padding: 30px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        display: block;
    }
}
.register-page{

    .header-text{
        text-align: center;
        padding: ($padding-default-horizontal * 3) 0 ($padding-default-horizontal * 2);

        h4{
            margin-top: 10px;
        }

        hr{
            opacity: .3;
            margin-top: ($margin-base * 2);
        }
    }

    .media{
/*         color: $white-color; */
        margin-bottom: ($margin-base * 3);

        .icon{
            float: left;
            margin-right: 5px;
        }

        i{
            font-size: $font-size-h2;
        }

        h4{
            margin: 0 0 5px 0;
        }
    }

    .form-group{
        margin-bottom: ($margin-base + 10px);
    }

    .card{
        .content{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.exchange {
  > table > tbody > tr > th {
    background-color: $info-color;
  }
}

.align-items {
  align-items: stretch;
  display: flex;
}

.w-100 {
  width: 100%!important;
}
.h-100 {
  height: 100%!important;
}

.h-50 {
  height: 48%;
}

.p-15 {
  padding: 15px;
}

.p-10 {
  padding: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px!important;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.mr-10 {
  margin-right: 10px;
}
.m-0 {
  margin: 0;
}

.pr-15 {
  padding-right: 15px;
}
.pr-5 {
  padding-right: 5px;
}
.pb-2 {
  padding-bottom: 2px;
}

.d-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  &--no-width {
    width: auto;
  }
}
.d-inline-block {
  display: inline-block;
}

.flex-grow {
  flex-grow: 1;
}


.overflow-scroll-x {
  overflow-x: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.text-align-center {
  text-align: center!important;
}

.position-relative {
  position: relative;
}

.que-iframe {
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  iframe {
    height: 100%;
  }
}


